<h1>Shopping cart display</h1>
<p>The shopping cart will display here</p>
<p>All the items will be visible</p>
<p>The object this page receives looks like:</p>
<pre>{
	products: [
			{id: 1, name: "Double dipper", description: "The dunkiest cookie", price: 4.5, image_url: "http://placeimg.com/345"},
			{id: 2, name: "Douhhble dipper", description: "The dunkiest cookie2", price: 4.55, image_url: "http://placeimg.com/345"},
			{id: 3, name: "Doublffffe dipper", description: "The dunkiest cookie3", price: 4.5, image_url: "http://placeimg.com/345"}
	]
}</pre>